web/WEB-INF/wsdl/collection.peoplesbank.lk/AccBulkService/BulkAccDetailService.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://collection.peoplesbank.lk/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://collection.peoplesbank.lk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://collection.peoplesbank.lk/">
      <s:element name="getBulkAccDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:AccDetailRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccDetailRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Passwd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNos" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getBulkAccDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBulkAccDetailResult" type="tns:ArrayOfAccDetailResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAccDetailResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccDetailResponse" nillable="true" type="tns:AccDetailResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccDetailResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccStatusDetail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Add1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Add2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Add3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Add4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sccode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="acctype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Names" type="tns:ArrayOfName" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfName">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Name" nillable="true" type="tns:Name" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Name">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Initials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameDenotedByIni" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nic" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getBulkAccDetailSoapIn">
    <wsdl:part name="parameters" element="tns:getBulkAccDetail" />
  </wsdl:message>
  <wsdl:message name="getBulkAccDetailSoapOut">
    <wsdl:part name="parameters" element="tns:getBulkAccDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="BulkAccDetailServiceSoap">
    <wsdl:operation name="getBulkAccDetail">
      <wsdl:input message="tns:getBulkAccDetailSoapIn" />
      <wsdl:output message="tns:getBulkAccDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BulkAccDetailServiceSoap" type="tns:BulkAccDetailServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBulkAccDetail">
      <soap:operation soapAction="http://collection.peoplesbank.lk/getBulkAccDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BulkAccDetailServiceSoap12" type="tns:BulkAccDetailServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBulkAccDetail">
      <soap12:operation soapAction="http://collection.peoplesbank.lk/getBulkAccDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BulkAccDetailService">
    <wsdl:port name="BulkAccDetailServiceSoap" binding="tns:BulkAccDetailServiceSoap">
      <soap:address location="https://collection.peoplesbank.lk/AccBulkService/BulkAccDetailService.asmx" />
    </wsdl:port>
    <wsdl:port name="BulkAccDetailServiceSoap12" binding="tns:BulkAccDetailServiceSoap12">
      <soap12:address location="https://collection.peoplesbank.lk/AccBulkService/BulkAccDetailService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>